<img src="assets/img/1@2x.png">
<div class="row">
    <div class="col-1"></div>
    <div class="col-9">
        <img class="inst" src="assets/img/11@2x.png">
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-9">
        <img class="inst" src="assets/img/12@2x.png">
    </div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-9">
        <img class="inst" src="assets/img/13@2x.png">
    </div>
    <div class="col-2"></div>
    <div class="col-4"></div>
    <div class="col-4">
        <img class="inst1" src="assets/img/boton@2x.png" (click)="hacerPedido()">
    </div>
    <div class="col-4"></div>
</div>
<app-footer></app-footer>